// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$lightorange: #F8CE6C;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-yellow: #fff4e0;
