<div class="d-flex bd-highlight mt-3" id="box">
  <div class="mr-auto pt-1 bd-highlight"><p><strong><%= comment.name %></strong></p></div>
  <div class="p-0 bd-highlight"><%= link_to "Delete", [comment.post, comment], method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?"} %></div>
</div>
<p><i>"<%= comment.comment %>"</i></p>
