<div class="container" id="form-new-post">
  <%= simple_form_for @post do |f| %>
  <%= f.input :title, as: :string, required: true %>
  <%= f.input :content, as: :text, required: true %>
  <%= f.submit "Save post", class: "cta-button" %>
  <% end %>
</div>
