<% content_for :page_title, "Index" %>

<div class="container">
  <% @posts.each do |post| %>
    <div class="card-category" >
      <div class="card-content">
        <h3><%= link_to post.title, post %></h3>
        <p><%= post.content %></p>
      </div>
    </div>
  <% end %>
</div>
