<% content_for :page_title, @post.title %>

<div class="container">
  <p><strong>Actions</strong></p>
  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-light" %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <hr>
</div>


<div class="container">
  <p class="content"><%= @post.content %></p>
  <hr>
</div>


<div class="comments">

</div>
