.card-category {
  // background-size: cover;
  // background-position: center;
  background-color: white;
  height: 180px;
  display: flex;
  justify-content: center;
  // align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 50px;
  border: 2px solid $lightorange;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}


.card-content {
  padding: 20px;
  p {
    color: black;
    font-size: 17px;
    font-weight: lighter;
    text-align: justify;
  }
  a {
    color: $yellow;
    font-family: $headers-font;
    font-weight: bold;
      &:hover {
      text-decoration: none;
      }
    }
  }
